.added-file {
  padding: 8px 2em 2px 2em;
}

.added-file .delete-file-icon {
  position: relative;
  float: right;
  top: -1.5em;
  color: red !important;
  opacity: 0.75;
}

.added-file .delete-file-icon:hover {
  opacity: 1;
  cursor: pointer;
}
