body {
  margin: 0;
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4ebec;
}

html {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navigationBar {
  background-color: #567aa8;
  border-bottom: black;
}
.navItem:hover {
  text-decoration: none;
}

.navButton {
  color: #f4ebec !important;
  text-transform: none !important;
  font-weight: bold !important;
}
.navButton:hover {
  background-color: #7492ba !important;
}

.nav-item {
  list-style-type: none;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #e8dfe0;
  text-align: center;
}
